<!DOCTYPE html>
<html>
<head>
    <title>GPIO Led website control</title>
</head>
<body>
    <p>Red:</p>
    <form action = '#' method = 'post'>
        <select name="red status" id="red">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        <br>
        <p>Green:</p>
        <select name="green status" id="green">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        <br>
        <p>Blue:</p>
        <select name="blue status" id="blue">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        <br>
        <br>
        <p><input type="submit" value="Submit"/><p>
        <p><input type="submit" value="Exit"/><p>
    </form>
</body>
</html>
